.menu a {
    background-color:gray;
    color: whitesmoke;
    text-decoration: black;
    float: none;
    width: 25%;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: cornflowerblue;
    color: whitesmoke;
}

.menu2 a {
    background-color: cornflowerblue;
    color: whitesmoke;
    float: none;
    text-align: center;
    width: 10%;
    font-size: 30px;
    margin-left: 1800px;
    border-radius: 5px;
    text-decoration: none;
}
.menu2 a:hover {
    color: darkblue;
    background-color:red;
}

body {
    background-attachment: fixed;
    background-size: cover;
    background-color:aliceblue;
    margin: 0auto;
    background-repeat: no-repeat;
    width: 2200px; 
}

h1 {
    text-align: center;
    font-size: 60px; 
    color: red; 
    margin-top: 0px;
    text-shadow: -3px 3px 5px #999;
}
h2 {
    color:darkkhaki;
    margin: 40px 50px 30px 0px;
    text-shadow: -2px 3px 3px #999;;
}

h3 {
    font-size: 40px; color: whitesmoke;  
}

header{
    font-size: 30px;
    margin-top: 0px;
    padding: 20px;
    background-color: transparent;
}

.titulo {
    width: 700px; 
    margin:0 auto;
}

div {
    width: 1400px;
    margin: 50px 50px 50px 150px;
    padding-top: 50px;
    color: red;
    border: none;
}

.mensaje {
    color: whitesmoke;
    font-size: 40px; 
    text-align: justify;
    margin: 350px 50px 150px 500px;
}
.navegador {
    font-size: 30px; 
    color: cornflowerblue;
}

a {
    color:ghostwhite;
    font-size:  40px;
    text-align:right;
}

img {
    width: 100%; 
}

.segundaimagen { 
    width: 800px;
}

form {
    color: whitesmoke; 
    font-size: 20px;
    margin: 0px 500px 15px 200px;
    box-shadow: 0px 3px 5px #999;
    box-sizing: border-box;   
}

.seleccionar {
    color: whitesmoke; ; 
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}

label {
    margin-left: 20px;
}

.opcion {
    margin-left: 20px;
}

input {
    font-size: 20px;
}

p{
    color:darkblue;
    text-align: justify;
    font-size: 40px;
    margin: 50px 100px 15px 100px
}

h4{
    color: blue;
    border:1px dashed #fff;
    size: 50px;
    font-size: 30px;
}

nav{
    background-color: transparent;
    color:turquoise;
    font-size: 35px;
    text-align: justify;
}

footer {
    margin: 10px;
    font-size: 25px;
    color:turquoise;
}